<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <h2>Bem-vindo, {{ username }}</h2>
    <button id="atualizar-btn">Atualizar</button>
    <h2>Lista de Animes</h2>
    <ul>
      {% for anime in user_list %}
      <li>
        <h3>{{ anime.node.title }}</h3>
        <img
          src="{{ anime.node.main_picture.medium }}"
          alt="{{ anime.node.title }}"
        />
        <p>Episódios: {{ anime.list_status.num_episodes_watched }}</p>
        <p>Nota: {{ anime.list_status.score }}</p>
        <p>Estado: {{ anime.list_status.status }}</p>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
